:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-font-size: 14px;
    --accent-txt-color: #2196F3;
    --logo-txt-color: #000000;
    --subtitle-txt: #212121;
    --primary-txt-color: #757575;
    --hero-bcg: #2F303A;
    --background: #F5F4FA;
    --bcg-color: #FFFFFF;

    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bgc: rgba(0, 0, 0, 0.2);

    --items: 1;
    --indent: 30px;
}